// Fuentes
$fuente_principal: 'Poppins', sans-serif;

// Tamaño de Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colores
$grisClaro: #F1EFEF;
$cemento: #CCC8AA;
$grisOscuro:#7D7C7C;
$negroDark: #313030;
$negro: #141212;
$rojo: #750E21;
$naranja: #E3651D;
$verde: #BED754;
$verdeAlerta: #21b21a;
$azul: #4e97d1;

$blanco: #FFFFFF;
$gris: #e1e1e1;

$separacion: 5rem;

// Fuentes
$regular: 300;
$bold: 700;
$black: 900