@use 'base/variables' as v;
@use 'base/mixins' as m;

.inf{
    background-color: v.$grisClaro;
    //display: block;
    display: grid;
    grid-template-rows: auto;
    
    min-width: 15rem;
    
    @include m.tablet {
        grid-template-columns: 25% 75%;        
        overflow-y: scroll;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
    }
    //display: flex;
    //flex-direction: column;
    
}