@use 'base/variables' as v;
@use 'base/mixins' as m;

.principal {
    background-color: v.$grisClaro; 
    display: grid;
    grid-template-rows: 15% auto;
    @include m.tablet{
        grid-template-rows: minmax(7rem, 15%) minmax(0, 85%);
    }
    
    
}

.ocultar {
    display: none;
}